/*----------------
    RESET
------------------*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*----------------
    LAYOUT
------------------*/
.container-large {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    /*background-color: green;*/
}

.container-small {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    /*background-color: lavender;*/
}

.row {
    display: flex;
    flex-direction: row;
}

/*----------------
    TYPOGRAPHY
------------------*/
body {
    font-family: "Open Sans", serif;
}

/*----------------
    BUTTONS
------------------*/
.btn-blue {
    background-color: #0061FE;
    color: white;
    padding: 10px 12px;
    cursor: pointer;
    border: none;
    font-size: 14px;
    font-weight: lighter;
    text-align: center;
}

.btn-blue-wide {
    width: 80%;
    margin: 0px 30px;
}

/*----------------
    HEADER
------------------*/
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 2px solid #D0D9E0;
    position: sticky;
    background-color: white;
    top: 0px;
    left: 0px;
    z-index: 100;
}

.header-left {
    display: flex;
}

nav {
    flex-grow: 1;
    text-align: center;
}

.main-nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding-left: 30px;
}

.main-nav ul a {
    text-decoration: none;
    color: black;
    font-size: 14px;
}

.header-right {
    display: flex;
}

/*----------------
    HERO
------------------*/
.hero {
    background-color: #B7D2E7;
    max-height: 735px;
}

h1 {
    padding-top: 100px;
    padding-bottom: 20px;
    font-size: 65px;
    max-width: 1050px;
}

.hrow {
    position: relative;
    left: 0px;
    bottom: -20px;
}

.hcol-left {
    max-width: calc(100%/3);
    padding-right: 32px;
    max-height: 400px;
}

.hcol-right {
    max-width: calc(100%/3*2);
    max-height: 400px;
}

.hero-img {
    max-width: 800px;
}

.hbtn {
    margin: 32px 0px;
}

.arrow {
    margin-top: 75px;
    font-size: 40px;
}

/*----------------
    MAIN - SECTION 1
------------------*/
.divider {
    margin-top: 120px;
    border-top: 2px solid #F5F5F5;
}

h2 {
    font-size: 40px;
    margin: 60px 0px;
}

.billing {
    padding-bottom: 30px;
}

.billing label {
    padding-right: 50px;
}

/*.custom-radio {
    border: 1px solid red;
}*/

.s1-row {
    justify-content: space-between;
}

.s1-col {
    width: 30%;
    border: 1px solid #D0CFD4;
    font-size: 15px;
}

.plan-type {
    border-bottom: 1px solid #D0CFD4;
    text-align: center;
    padding: 12px 0px;
}

.plan-details {
    padding: 0px 40px;
    line-height: 2.0;
}

h3 {
    padding-top: 30px;
    font-size: 24px;
}

.price-breakdown {
    color: #bbbabe;
    padding-bottom: 30px;
}

.plan-list {
    list-style: none;
    padding: 20px 10px 30px 10px;
}

.plan-list li {
    padding-bottom: 25px;
}

.buy-now {
    padding: 40px;
}

.s1-line {
    max-width: 20px;
    margin: 0 40px;
}

.list-title {
    padding-top: 50px;
}

.fa-check {
    color: #0061FE;
}

.s1-col-big {
    width: 100%;
    border: 1px solid #D0CFD4;
    font-size: 15px;
    margin-top: 50px;
}

.col-big-custom-plan {
    width: 70%;
}

.col-sm-custom-plan {
    width: 30%
}

.custom-plan {
    padding-top: 60px;
    padding-bottom: 30px;
}

.btn-custom-plan {
    margin-top: 30px;
    padding: 10px 20px;
}

/*----------------
    MAIN - SECTION 2
------------------*/
.section-2 {
    margin-top: 200px;
    margin-bottom: 140px;
}

.s2-col-left {
    width: 60%;
}

.s2-col-left img {
    width: 100%;
}

.s2-col-right {
    width: 40%;
    padding: 20px 50px;
}

.s2-details {
    font-size: 16px;
    padding: 20px 0px;
}

.btn-partner {
    font-size: 14px;
    padding: 10px;
    cursor: pointer;
    background-color: white;
}

/*----------------
    MAIN - SECTION 3
------------------*/
.s3 {
    justify-content: space-between;
}

.s3-col {
    width: 30%;
}

.s3-col img {
    width: 100%;
}

h4 {
    font-size: 24px;
}

.s3-details {
    font-size: 16px;
    padding-top: 30px;
    padding-bottom: 30px;
}

/*----------------
    MAIN - SECTION 4
------------------*/
.s4 {
    max-width: 600px;
    margin-top: 140px;
    margin-bottom: 200px;
}

/*----------------
    FOOTER
------------------*/
footer {
    background-color: black;
    color: white;
}

.footer-top {
    justify-content: space-between;
}
.footer-col {
    width: calc(100%/6);
    padding: 100px 0px;
}

h5 {
    font-size: 24px;
    padding-bottom: 25px;
}

.footer-col ul li {
    list-style: none;
    line-height: 2.5;
}

.footer-col ul li a {
    text-decoration: none;
    color: white;
}

.footer-line {
    color: white;
    width: 150px;
}

.language {
    padding: 50px 0px;
}